.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #000026;
    position: relative;
    .scanner {
        width: 75vw;
    }
    p {
        position: absolute;
        bottom: 15px;
        background: #4d4d4d;
        color: #fffffff7;
        padding: 10px;
        border-radius: 20px;
    }
}