<div class="container">
  <div class="content">
    <p *ngIf="data" class="pp" >Fixture: {{ data.fixtureName }}</p>
    <p *ngIf="data" class="pc" >Zone: {{ data.zone }}</p>
    <div class="field">
      <div>
        <p>Select Departments</p>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT1</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT1</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT1</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT1</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
      </div>

      <div>
        <p>Qty</p>
        <input type="number" />
        <input type="number" />
        <input type="number" />
        <input type="number" />
      </div>
    </div>
    <p class="plus" >+</p>
    <button (click)="routeBack()">Done</button>
  </div>
</div>
