<div class="container">
        <p *ngIf="data" class="pc" >{{ data.zone }}</p>
        <p *ngIf="data" class="pp" >{{ data.fixtureName }}</p>
  <div class="content">
    <div class="field">
      <div>
        <p>Select Departments</p>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT1</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT2</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT3</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
        <select aria-placeholder="Department1">
          <option disabled selected>DEPARTMENT4</option>
          <option>SWEATER</option>
          <option>OUTERWEAR</option>
          <option>DRESS</option>
        </select>
      </div>

      <div>
        <p>Qty</p>
        <input type="number" />
        <input type="number" />
        <input type="number" />
        <input type="number" />
      </div>
    </div>
    <!-- <p class="plus" >+</p> -->
    <button (click)="routeBack()">Done</button>
  </div>
</div>
